<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Skeletor</title>
    <script type="text/javascript">
      const user = <%- JSON.stringify(user) %>;
      const queue = <%- JSON.stringify(queue) %>;
      console.log(user);
      console.log(queue);
    </script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>

  <body>
    <%- include("shared/navbar", { login: userId }) %>
    <div class="container">
      <div class="row main-text">Welcome, <%= user.email %></div>
      <div class="row card">
        <p class="title-text">Traces</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" title="Name of the trace set.">Name  <span>?</span></th>
              <th scope="col" title="The type of trace files. A type of a trace file confirms to a certain format hence is parsed accordingly.">Type  <span>?</span></th>
              <th scope="col" title="Email of the creater of the trace set.">Uploader  <span>?</span></th>
              <th scope="col" title="The number of files the trace set contains.">Number of files  <span>?</span></th>
              <th scope="col" title="The date when the trace set was created.">Upload Date  <span>?</span></th>
            </tr>
          </thead>
          <tbody>
            <%  user.traces.forEach(function(trace) { %>
              <tr>
                    <td><a  class="content-text" href='traces/<%= trace.id %>'><%= trace.name %></a></td>
                    <td><p  class="content-text"><%= trace.type %></p></td>
                    <td><p  class="content-text"><%= trace.ownerEmail %></p></td>
                    <td><p  class="content-text"><%= trace.files.length %></p></td>
                    <td><p  class="content-text"><%= trace.uploadedOn %></p></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
      <% if(user.accessCode == "ibm_emory"){ %>
        <div class="row card">
          <p class="title-text">Queries</p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">By</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <%  for(let i = 1; i <= queue.length; i++) { %>
                <tr>
                  <td><%= queue[queue.length-i].title %></td>
                  <td><%= queue[queue.length-i].user.key.email %></td>
                  <td><%= queue[queue.length-i].description %></td>
                  <td><%= queue[queue.length-i].status %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      <% } %>
    </div>
    <%- include("shared/footer") %>
  </body>

</html>
